**/bin/
**/obj/
**/out/
**/publish/

.vs/
.vscode/
.idea/

.git/
.gitignore
.gitattributes

.github/

Dockerfile*
docker-compose*
compose*

README.md
LICENSE

*.user
*.suo
*.cache
*.log
*.tmp
*.temp

TestResults/
coverage/
coverage-results/
*.coverage
*.coveragexml

node_modules/

.env
.env.*